div.scrollmenu {
    transform-origin: right top;
    transform: rotate( -90deg) translateY(-100px);
    overflow: auto;
    white-space: nowrap;
    margin-left: 309px;
    height: 86vw;
    margin-top: 87px;
    position: absolute;
}

div.scrollmenu a {
    transform: rotate( 90deg);
    transform-origin: right top;
    display: block;
    color: black;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border: 1px solid rgb(116, 181, 250);
    border-radius: 25px;
    margin-left: -30px;
    margin-top: 79px;
    width: 70px;
    height: 34px;
}

div.scrollmenu a:hover {
    background-color: rgb(116, 181, 250);
    color: white;
}

div.scrollmenu a:first-of-type {
    background-color: rgb(116, 181, 250);
    color: white;
}

@media screen and (max-width: 1200px) {
    div.scrollmenu {
        margin-left: 180px;
    }
}