.user-icon-container {
    position: absolute;
    float: right;
    right: 30px;
    top: 15px;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 24px;
    height: 39px;
    width: 39px;
    border-radius: 50%;
    border: none;
    outline: none;
    color: black;
    /* padding: 2px 16px; */
    background-color: grey;
    font-family: inherit;
    margin-left: 10px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(116, 181, 250);
}

.dropdown-content {
    right: 5px;
    display: none;
    position: absolute;
    background-color: grey;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 12px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 10px 15px 10px 0px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a i {
    font-size: 20px;
    margin-right: 20px;
}

.dropdown-content a:hover {
    /* background-color: #ddd; */
    background-color: rgb(116, 181, 250);
}

.dropdown-content a:hover:first-child {
    border-radius: 12px 12px 0 0;
}

.dropdown-content a:last-child {
    color: rgb(248, 60, 60);
}

.dropdown-content a:hover:last-child {
    border-radius: 0 0 12px 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

hr {
    margin: 0;
}