footer {
    margin-left: 240px;
    text-align: center;
    height: 70px;
    padding-top: 20px;
    margin-top: 14px;
    font-size: 24px;
    grid-row-start: 2;
    grid-row-end: 3;
}

footer i {
    cursor: pointer;
}