.left-sidebar {
    display: block;
    position: fixed;
    overflow: auto;
    height: 96%;
    width: 240px;
    background-color: rgb(180, 250, 255);
    padding-top: 24px;
    padding-bottom: -3px;
    margin-top: 40px;
}

.left-sidebar a {
    padding: 15px 15px 15px 15px;
    text-decoration: none;
    color: black;
    display: block;
    /* max-width: 220px; */
}

.streamer-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.left-sidebar a:hover {
    background-color: rgb(116, 181, 250);
}

.left-sidebar a img {
    cursor: pointer;
    vertical-align: middle;
    margin-right: 15px;
}

.streamer-name:hover {
    color: cornsilk;
}

#subscription-count {
    display: block;
    float: right;
    padding: 7px 0px 0px 5px;
}

.social-media-links-container {
    background-color: rgba(204, 204, 204, 0.5);
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    display: flex;
    margin: 0px 15px 15px;
    padding: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.social-media-icons-container {
    display: flex;
}

#tg:hover,
#ig:hover,
#fb:hover {
    background: none;
    color: rgb(116, 181, 250);
}

@media screen and (max-width: 1200px) {
    .social-media-links-container {
        display: none;
    }
    .streamer-name {
        display: none;
    }
    #subscription-count {
        display: none;
    }
    .left-sidebar {
        width: 60px;
    }
}