.main {
    grid-template-rows: 1fr auto;
    display: grid;
    min-height: 100vh;
}

.videos {
    margin-left: 245px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 15px;
}

.column-background {
    height: 284px;
}

.column-background .fa-paw {
    position: absolute;
    justify-content: center;
    display: none;
    margin: 132px 192px 121px 181px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}

.column-background:hover .fa-paw {
    transition: 0.8s;
    display: block;
    cursor: pointer;
}

.column-background:hover {
    transition: 0.5s;
    background: rgba(38, 31, 41, 0.3);
    background-blend-mode: multiply;
}

.column button {
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 8px;
    height: 25px;
    border: none;
    margin: 10px;
    color: white;
}

.live-button {
    color: white;
    background: red;
    position: absolute;
    /* z-index: 1; */
}

.time-button {
    position: relative;
    float: right;
    top: 241px;
    background: rgb(101 99 99 / 70%);
}

.video-name {
    margin-top: 3px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
    padding-bottom: 8px;
}

.streamer-name-below-video {
    display: block;
    cursor: pointer;
}

.streamer-name-below-video:hover,
.video-name:hover {
    color: royalblue;
}

.avatar-below-video {
    display: block;
    float: left;
    margin-right: 15px;
    margin-top: 5px;
    cursor: pointer;
}

.menu-ellipsis {
    float: right;
    font-size: 20px;
    padding: 7px 11px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    .videos {
        margin-top: 150px;
        margin-left: 75px;
    }
}