.ring-container {
    position: relative;
}

.circle {
    width: 10px;
    height: 10px;
    background-color: rgb(235, 81, 81);
    border-radius: 50%;
    position: absolute;
    top: -23px;
    left: 156px;
}

.ringring {
    border: 3px solid rgb(213, 101, 101);
    -webkit-border-radius: 30px;
    height: 20px;
    width: 20px;
    position: absolute;
    left: 151px;
    top: -28px;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.2;
}

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0.1, 0.1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(1.2, 1.2);
        opacity: 0.0;
    }
}