.search-container {
    text-align: center;
    margin-top: 17px;
    margin-right: 25px;
}

.search-container input[type="text"] {
    width: 22%;
    height: 30px;
    border: solid 1px;
    border-radius: 10px 0px 0px 10px;
    margin-right: -5px;
    padding-left: 10px;
    font-size: 17px;
    margin-bottom: 2px;
}

.search-container input[type="text"]:focus {
    outline: none !important;
    border: 2px solid rgb(116, 181, 250);
}

.search-container button {
    background: none;
    font-size: 17px;
    height: 30px;
    border: solid 1px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.search-container button:hover {
    background: #ccc;
}

.search-container #mic {
    position: absolute;
    top: 20px;
}

.search-container #mic:hover {
    color: black;
    background: none;
}

.search-container #mic,
.search-container #bell {
    color: grey;
    display: inline-block;
    border: none;
    font-size: 23px;
    /* margin-top: 1px; */
    background: none;
}

.search-container #bell {
    margin-top: 5px;
}

.search-container #mic:hover,
.search-container #bell:hover {
    color: black;
    background: none;
}