body p::selection,
body span::selection,
body h1::selection {
    color: white;
    background: rgb(90, 48, 208);
}

header {
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: rgb(252, 246, 246);
    padding-left: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}

.logo-container a {
    float: left;
    color: black;
    text-decoration: none;
}

.logo-container img {
    margin-right: 20px;
    margin-top: 3px;
}

.logo-container span {
    /* border: solid 1px; */
    font-size: x-large;
    margin-top: 22px;
    display: block;
    float: right;
}